---
import Title from "../Title.astro";
import CardProducto from "../CardProducto.astro";

const PRODUCTOS = [
  {
    title: "Nombre producto 1",
    description:
      "Breve descripción del producto número 1 y los beneficios que trae al cliente. ",
    image: "./assets/images/producto1.png",
  },
  {
    title: "Nombre producto 2",
    description:
      "Breve descripción del producto número 2 y los beneficios que trae al cliente. ",
    image: "./assets/images/producto2.png",
  },
  {
    title: "Nombre producto 3",
    description:
      "Breve descripción del producto número 3 y los beneficios que trae al cliente. ",
    image: "./assets/images/producto3.png",
  },
];

const EQUIPOS = [
  {
    title: "Nombre equipo 1",
    description:
      "Breve descripción del producto número 1 y los beneficios que trae al cliente. ",
    image: "./assets/images/equipo1.png",
  },
  {
    title: "Nombre equipo 2",
    description:
      "Breve descripción del producto número 2 y los beneficios que trae al cliente. ",
    image: "./assets/images/equipo2.png",
  },
  {
    title: "Nombre equipo 3",
    description:
      "Breve descripción del producto número 3 y los beneficios que trae al cliente. ",
    image: "./assets/images/equipo3.png",
  },
];
---

<hr class="m-10" />
<section
  id="productos"
  class="flex lg:flex-col flex-wrap items-center justify-center gap-5 mb-5 lg:gap-14 lg:mt-10 scroll-m-[90px]"
>
<!-- PRODUCTOS VISTA MOVIL -->
<div class="flex flex-col items-center justify-between gap-5 md:hidden">
  <Title class="text-[#f768a1]">NUESTROS PRODUCTOS</Title>

  <div class="slider size-[340px] ">
    {
      PRODUCTOS.map((producto) => (
        <CardProducto image={producto.image} title={producto.title}>
          <p>{producto.description}</p>
        </CardProducto>
      ))
    }
  </div>
</div>
<!-- PRODUCTOS VISTA ESCRITORIO -->
<div class="md:flex flex-col items-center justify-between gap-5 hidden">
  <Title class="text-[#f768a1]">NUESTROS PRODUCTOS</Title>

  <div class="flex flex-wrap items-center justify-center gap-3 xl:gap-10">
    {
      PRODUCTOS.map((producto) => (
        <CardProducto image={producto.image} title={producto.title}>
          <p class="md:text-sm lg:text-xl">{producto.description}</p>
        </CardProducto>
      ))
    }
  </div>
</div>

<!-- EQUIPOS VISTA MOVIL -->
 <div class="flex flex-col items-center justify-between gap-5 md:hidden">
 <Title class="text-[#f768a1]">NUESTROS EQUIPOS</Title>

  <div class="slider size-[340px]">
    {
      EQUIPOS.map((equipo) => (
        <CardProducto image={equipo.image} title={equipo.title}>
          <p>{equipo.description}</p>
        </CardProducto>
      ))
    }
  </div> 
</div> 

<!-- EQUIPOS VISTA ESCRITORIO -->
<div class="md:flex flex-col items-center justify-between gap-5 hidden">
  <Title class="text-[#f768a1]">NUESTROS EQUIPOS</Title>
 
   <div class="flex flex-wrap items-center justify-center gap-3 xl:gap-10">
     {
       EQUIPOS.map((equipo) => (
         <CardProducto image={equipo.image} title={equipo.title}>
           <p class="md:text-sm lg:text-xl">{equipo.description}</p>
         </CardProducto>
       ))
     }
   </div> 
 </div> 

</section>

<!-- Para terminar la vista mobile demore 1.20hs -->